<?php
/** @var $block \Magento\Framework\View\Element\Template */

/** @var $vm \Absolunet\Exercice8Be\ViewModel\Vendor\Listing */
$vm = $block->getViewModel();

$vendors = $vm->getVendors();
$currentOrder = $vm->getOrder();
?>
<form action="">
    <label for="order"><?= __('Order By') ?>:</label>
    <select name="order" id="order">
        <?php
        foreach ($vm->getOrderList() as $order) : ?>
            <option
                value="<?= $order['value'] ?>" <?= $currentOrder === $order['value'] ? ' selected ' : '' ?>><?= $order['name'] ?></option>
        <?php
        endforeach; ?>
    </select>
    <input type="submit">
</form>
<ul>
    <?php
    foreach ($vendors as $vendor) : ?>
        <li><a href="<?= $vm->getVendorUrl($vendor) ?>"><?= $vendor->getName() ?></a></li>
    <?php
    endforeach; ?>
</ul>

