<?php
/** @var $block \Magento\Framework\View\Element\Template */

/** @var $vm \Absolunet\Exercice8Be\ViewModel\Vendor\View */
$vm = $block->getViewModel();

$vendor = $vm->getVendor();
?>

<?php
if ($vendor) : ?>
    <h1><?= __('Vendor name') ?> : <?= $vendor->getName() ?></h1>

    <div>
        <?= __('Products') ?>
        <ul>
            <?php
            foreach ($vendor->getProducts()->getItems() as $product) : ?>
                <li><?= __('Name') ?> : <?= $product->getName() ?> | <?= __('Sku') ?> : <?= $product->getSku() ?></li>
            <?php
            endforeach; ?>

        </ul>
    </div>
<?php
endif; ?>
