<?php
/** @var $block \Magento\Framework\View\Element\Template */
$errors = $block->getData('errors');
?>

<div>
    <?php if (!empty($errors)) : ?>
        <ul>
            <?php foreach ($errors as $error) : ?>
                <li><?= $error; ?></li>
            <?php endforeach; ?>
        </ul>
    <?php else : ?>

        <ul>
            <li><?= __('Order') ?> :<?= $block->getData('orderId') ?></li>
            <li><?= __('Status') ?> :<?= $block->getData('status') ?></li>
            <li><?= __('Total') ?> :<?= $block->getData('total') ?></li>
            <li><?= __('Products') ?> :
                <?php
                $products = $block->getData('products');
                foreach ($products as $product): ?>
                    <ul>
                        <li><?= __('Sku') ?> :<?= $product['sku'] ?></li>
                        <li><?= __('Item ID') ?> :<?= $product['item_id'] ?></li>
                        <li><?= __('Price') ?> :<?= $product['price'] ?></li>
                    </ul>
                <?php endforeach; ?>
            </li>
            <li><?= __('Invoiced Total') ?> :<?= $block->getData('invoicedTotal') ?></li>
        </ul>
    <?php endif; ?>

</div>
