<?php
/** @var $block \Magento\Framework\View\Element\Template */

/** @var $vm \Absolunet\Exercice7Be\ViewModel\Vendor */
$vm = $block->getViewModel();
?>
<div>
    <span><?= __('Vendors :') ?> <?= implode(', ', $vm->getVendors()) ?></span>
</div>
